@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: 'Source Code Pro', monospace;
}

.standard-padding-x {
    padding: 0 7.5%;
}

.standard-padding-y {
    padding-top: 4rem;
    padding-bottom: 2rem;
}